*{ 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.feedback {
    height: 151px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    background: white;
    margin-top: 24px;
    padding: 20px;
}
