* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #F2F2F2;
}

.App {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}